<ion-view class="assertive" view-title="Home">
  <ion-content class="padding">
    <div class="list card r-btn">

      <div class="item item-avatar">
        <img src="../img/ionic.png">
        <h2>Traveling di Tasik</h2>
        <p>Tasikmah Aya Jang Gaya</p>
      </div>
    
      <div class="item item-image">
        <img src="../img/tasikmosque.jpeg">
      </div>
    
      <a class="item item-icon-left assertive" href="../files/panduan.pdf" download="">
        <i class="icon ion-archive"></i>
        <p>Download Panduan Travel</p>
        <p class="text-danger">Buku Panduan Kangge Ameng</p>
      </a>      
    </div>

    <!-- button -->
    <div class="padding">
      <a href="" class="button button-assertive r-btn">Rencanakan Travel</a>
      <a href="" class="button button-royal r-btn">Lihat Tempat Wisata</a>
    </div>

    <!-- hubungi kami -->
    <div class="d-flex justify-content-center">
      <a href="https://wa.me/+6282119816893/?text=Aku Butuh Bantuan" target="_blank" class="item item-icon-left w-1 r-btn">
        <i class="icon ion-ios-telephone-outline"></i>
        Butuh Bantuan
      </a>
    </div>
  </ion-content>
</ion-view>
