<ion-view view-title="Login">
  <ion-content>
    <div class="row">
      <div class="col col-100 padding-horizontal v-al">
        <div class="text-center padding-top">
          <h2>Form Login</h2>
          <div class="card padding">
            <div class="card-body">
              <div class="card-item">
                <div class="list">
                  <label class="item item-input">
                    <i class="icon ion-person padding-right"></i>
                    <span class="input-label">Username </span>
                    <input type="text" />
                  </label>
                  <label class="item item-input">
                    <i class="icon ion-key padding-right"></i>
                    <span class="input-label">Password </span>
                    <input type="password" />
                  </label>
                  <button class="button button-full button-balanced btn-r">
                    Register
                  </button>
                  <p>OR</p>
                  <button class="button button-full button-positive btn-r">
                    Login
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
