<ion-view view-title="Simpan Nomor">
  <ion-content>
    <!-- <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list> -->

    <div class="bar bar-header bar-assertive">
      <h1 class="title">Simpan Nomor Darurat</h1>
    </div>

    <div class="p-5">
      <p class="">{{nashkah.keterangan}}</p>

      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="noHp" placeholder="Nomor Handphone">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="hubungan" placeholder="Hubungan Anda">
        </label>
        <label class="item item-input">
          <textarea ng-model="alasan" placeholder="Alasan Menyimpan Nomor Darurat"></textarea>
        </label>

        <a href="" class="button button-block button-positive">Simpan</a>
        <p>Apakah Data Dibawah Benar?</p>
        <p>Nomor Hp Kerabat : <b>{{noHp}}</b></p>
        <p>Hubungan Anda : <b>{{hubungan}}</b></p>
        <p>Alasan : <b>{{alasan}}</b></p>
      </div>
    </div>


    <!-- <a class="button icon-right ion-chevron-right button-clear button-dark">Simpan</a>
    <a class="button icon-left ion-chevron-left button-clear button-dark">Kembali</a> -->

  </ion-content>
</ion-view>
